/*stop looking at my code*/

@font-face {
    /*monaco*/
    font-family: "Monaco";
    src: url("monaco.ttf") format("truetype");
}
@media screen and (max-width: 15360px) {

    .clr {
        font-family: Monaco;
        font-size: 22px;
        text-align: center;
    }
    a {
        text-decoration: none;
        color: black;
    }
    button {
        border: 10px;
        border-color: black;
    }

    /*.body-container {
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }
    */
    body {
        background-color: blueviolet;  /*For browsers that do not support gradients */
        background-image: linear-gradient(to bottom right, blueviolet, blue);
    }

    .main-container {
        border: 2px solid transparent;
        box-shadow: 2px 2px #1e1e1e;
        border-radius: 12px;
        background-color: white;
        position: absolute;
        left: 30px;
        width: 1840px;
        top: 20px;
        height: 780px;
    }

    .invent-int {
        font-family: Monaco;
        color: white;
        font-size: 20px;
        left: 5px;
        position: absolute;
    }

    .bottom-container {
        border: 2px solid transparent;
        box-shadow: 2px 2px #1e1e1e;
        border-radius: 12px;
        bottom: 10px;
        background-color: white;
        position: absolute;
        left: 30px;
        width: 1840px;
        height: 100px;
        font-family: Monaco;
    }

    .one {
        border: 2px solid transparent;
        box-shadow: 2px 2px #1e1e1e;
        border-radius: 12px;
        left: 10px;
        top: 5px;
        width: 85px;
        height: 85px;
        position: absolute;
        background-color: #323232;
        color: white;
    }

    .two {
        border: 2px solid transparent;
        box-shadow: 2px 2px #1e1e1e;
        border-radius: 12px;
        left: 110px;
        top: 5px;
        width: 85px;
        height: 85px;
        position: absolute;
        background-color: #323232;
        color: white;
    }

    .three {
        border: 2px solid transparent;
        box-shadow: 2px 2px #1e1e1e;
        border-radius: 12px;
        left: 210px;
        top: 5px;
        width: 85px;
        height: 85px;
        position: absolute;
        background-color: #323232;
        color: white;
    }

    .four {
        border: 2px solid transparent;
        box-shadow: 2px 2px #1e1e1e;
        border-radius: 12px;
        left: 310px;
        top: 5px;
        width: 85px;
        height: 85px;
        position: absolute;
        background-color: #323232;
        color: white;
    }
    .five {
        border: 2px solid transparent;
        box-shadow: 2px 2px #1e1e1e;
        border-radius: 12px;
        left: 410px;
        top: 5px;
        width: 85px;
        height: 85px;
        position: absolute;
        background-color: #323232;
        color: white;
    }

    .btn-one, .btn-two, .btn-three, .btn-four, .btn-five {
        cursor: pointer;
    }

    .beststreak {
        right: 140px;
        position: absolute;
    }

    .highscore {
        right: 148px;
        top: 32px;
        position: absolute;
    }

    .streak {
        right: 10px;
        position: absolute;
    }

    .score {
        right: 18px;
        top: 32px;
        position: absolute;
    }

    .beststreak, .streak {
        position: absolute;
        bottom: 27px;
    }

@media screen and (max-width: 2560px) {

        .clr {
            font-family: Monaco;
            font-size: 22px;
            text-align: center;
        }
        a {
            text-decoration: none;
            color: black;
        }
        button {
            border: 10px;
            border-color: black;
        }
    
        /*.body-container {
            filter: blur(8px);
            -webkit-filter: blur(8px);
        }
        */
        body {
            background-color: blueviolet;  /*For browsers that do not support gradients */
            background-image: linear-gradient(to bottom right, blueviolet, blue);
        }
    
        .main-container {
            border: 2px solid transparent;
            box-shadow: 2px 2px #1e1e1e;
            border-radius: 12px;
            background-color: white;
            position: absolute;
            left: 30px;
            width: 1840px;
            top: 20px;
            height: 780px;
        }
    
        .invent-int {
            font-family: Monaco;
            color: white;
            font-size: 20px;
            left: 5px;
            position: absolute;
        }
    
        .bottom-container {
            border: 2px solid transparent;
            box-shadow: 2px 2px #1e1e1e;
            border-radius: 12px;
            bottom: 10px;
            background-color: white;
            position: absolute;
            left: 30px;
            width: 1840px;
            height: 100px;
            font-family: Monaco;
        }
    
        .one {
            border: 2px solid transparent;
            box-shadow: 2px 2px #1e1e1e;
            border-radius: 12px;
            left: 10px;
            top: 5px;
            width: 85px;
            height: 85px;
            position: absolute;
            background-color: #323232;
            color: white;
        }
    
        .two {
            border: 2px solid transparent;
            box-shadow: 2px 2px #1e1e1e;
            border-radius: 12px;
            left: 110px;
            top: 5px;
            width: 85px;
            height: 85px;
            position: absolute;
            background-color: #323232;
            color: white;
        }
    
        .three {
            border: 2px solid transparent;
            box-shadow: 2px 2px #1e1e1e;
            border-radius: 12px;
            left: 210px;
            top: 5px;
            width: 85px;
            height: 85px;
            position: absolute;
            background-color: #323232;
            color: white;
        }
    
        .four {
            border: 2px solid transparent;
            box-shadow: 2px 2px #1e1e1e;
            border-radius: 12px;
            left: 310px;
            top: 5px;
            width: 85px;
            height: 85px;
            position: absolute;
            background-color: #323232;
            color: white;
        }
        .five {
            border: 2px solid transparent;
            box-shadow: 2px 2px #1e1e1e;
            border-radius: 12px;
            left: 410px;
            top: 5px;
            width: 85px;
            height: 85px;
            position: absolute;
            background-color: #323232;
            color: white;
        }
    
        .btn-one, .btn-two, .btn-three, .btn-four, .btn-five {
            cursor: pointer;
        }
    
        .beststreak {
            right: 140px;
            position: absolute;
        }
    
        .highscore {
            right: 148px;
            top: 32px;
            position: absolute;
        }
    
        .streak {
            right: 10px;
            position: absolute;
        }
    
        .score {
            right: 18px;
            top: 32px;
            position: absolute;
        }
    
        .beststreak, .streak {
            position: absolute;
            bottom: 27px;
        }
}
}